<div class="header">
    <div class="containerHeader">
        <a href="/"><img src="../../assets/logotipo/LogoSemFundo.png" alt="logo" class="logo"></a>
        <div class="cjBuscar">
            <input #entradaBusca type="text" (input)="emitirInputVazio(entradaBusca.value)">
            <button (click)="emitirBusca(entradaBusca.value)">Buscar</button>
        </div>
        <div class="blocoPerfil">
            <a href="/login"><img src="../../assets/icons/userOrange.png" alt="userIcon" class="user"></a>
            <p>{{nomeCliente}}</p>
        </div>
    </div>
    <nav>
        <a href="">Consoles</a>
        <a href="">Portáteis</a>
        <a href="">Jogos</a>
        <a href="">TVs de tubo</a>
    </nav>
</div>
