<div class="header">
    <div class="containerHeader">
        <a href="/"><img src="../../assets/logotipo/LogoSemFundo.png" alt="logo" class="logo"></a>
        <div class="cjBuscar">
            <input type="text">
            <button>Buscar</button>
        </div>
        <img src="../../assets/icons/userOrange.png" alt="userIcon" class="user">
    </div>
    <nav>
        <a href="">Consoles</a>
        <a href="">Portáteis</a>
        <a href="">Jogos</a>
        <a href="">TVs de tubo</a>
    </nav>
</div>
