<app-header></app-header>
<h3 *ngIf="achouProduto==1" class="infoPesqProd"><span>Pesquisa por: {{produtoAchado}}</span></h3>
<div class="containerCards">
    <div *ngFor="let item of produtosFiltrados" class="card">
        <div class="containerImagem" (click)="entrarDetalhe(item)">
            <img src="../../assets/imagens/{{item.imagem}}" alt="">
        </div>
        <div class="infoComprar">
            <div class="info">
                <p>{{item.nome}}</p>
            </div>
            <div class="botao-valor">
                <p>R${{item.valor}}</p>
                <button *ngIf="item.estoque>0" (click)="comprar(item)">Comprar</button>
            </div>
        </div>
    </div>
</div>
